head
  title #{title}
  script(type="text/javascript", src="/jquery/jquery.min.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.bundle.js")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")