extends includes/layout-main-kosson
block content
  include includes/navbar.pug
  #wrap.container
    h1= message
    p.lead Acesta este un paragraf pentru a avea ceva conținut.
    .content
      <!-- Încarcă resursa de aplicație ultima -->
      script(type="text/javascript", src="js/app-client.js")
